Repository lacework/terraform-provider-lacework, pull requests merged in 2020-12, with the labels that each got.

#43 feat(resource): AWS consolidated CloudTrail support
  examples/resource_lacework_integration_aws_ct/main.tf
  go.mod
  go.sum
  lacework/resource_lacework_integration_aws_ct.go
  lacework/resource_lacework_integration_docker_hub.go
  lacework/utils.go
  lacework/utils_test.go
  vendor/github.com/lacework/go-sdk/api/errors.go
  vendor/github.com/lacework/go-sdk/api/integrations_aws.go
  vendor/github.com/lacework/go-sdk/api/version.go
  vendor/github.com/lacework/go-sdk/api/vulnerabilities_container.go
  vendor/github.com/pmezard/go-difflib/LICENSE
  vendor/github.com/pmezard/go-difflib/difflib/difflib.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/errors.go
  vendor/github.com/stretchr/testify/assert/forward_assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/parserc.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/gopkg.in/yaml.v2/yamlprivateh.go
  vendor/modules.txt
  website/docs/r/integration_aws_ct.html.markdown
Labels: feat, resource

#46 feat(data-source): new lacework_agent_access_token
  examples/data_source_lacework_agent_access_token/main.tf
  lacework/data_source_lacework_agent_access_token.go
  lacework/data_source_lacework_api_token.go
  lacework/provider.go
  scripts/release.sh
  website/docs/d/agent_access_token.html.markdown
  website/lacework.erb
Labels: feat

#47 Release v0.2.6
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  lacework/version.go
  scripts/release.sh
Labels: release

#49 feat: new lacework_alert_channel_webhook resource
  examples/resource_lacework_alert_channel_webhook/main.tf
  go.mod
  go.sum
  lacework/provider.go
  lacework/resource_lacework_alert_channel_webhook.go
  lacework/resource_lacework_alert_channel_webhook_test.go
  vendor/github.com/lacework/go-sdk/api/README.md
  vendor/github.com/lacework/go-sdk/api/errors.go
  vendor/github.com/lacework/go-sdk/api/integration_alert_channels_slack.go
  vendor/github.com/lacework/go-sdk/api/integration_alert_channels_webhook.go
  vendor/github.com/lacework/go-sdk/api/integrations.go
  vendor/github.com/lacework/go-sdk/api/lql.go
  vendor/github.com/lacework/go-sdk/api/version.go
  vendor/github.com/lacework/go-sdk/lwlogger/README.md
  vendor/modules.txt
  website/docs/r/alert_channel_webhook.html.markdown
  website/lacework.erb
Labels: resource

#50 chore(deps): update go-sdk to remove automatic trigger
  go.mod
  go.sum
  vendor/github.com/lacework/go-sdk/api/integrations_aws.go
  vendor/github.com/lacework/go-sdk/api/integrations_azure.go
  vendor/github.com/lacework/go-sdk/api/integrations_gcp.go
  vendor/github.com/lacework/go-sdk/api/version.go
  vendor/modules.txt
Labels: chore

#51 Release v0.2.7
  CHANGELOG.md
  RELEASE_NOTES.md
  VERSION
  lacework/version.go
Labels: release

#52 feat: new lacework_alert_channel_aws_s3 resource
  examples/resource_lacework_alert_channel_aws_s3/main.tf
  go.mod
  go.sum
  lacework/provider.go
  lacework/resource_lacework_alert_channel_aws_s3.go
  lacework/resource_lacework_alert_channel_aws_s3_test.go
  vendor/github.com/lacework/go-sdk/api/integration_alert_channels_aws_s3.go
  vendor/github.com/lacework/go-sdk/api/integrations.go
  vendor/modules.txt
  website/docs/r/alert_channel_aws_s3.html.markdown
  website/lacework.erb
Labels: feat, resource
